
@*<head>*@
@*this is being ignored*@
@*<title>Your Website Title1</title>*@
@*<meta property="og:url" content="http://harrellssharingtest.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=@ViewBag.PageTitle />
    <meta property="og:description" content="Your description is updated" />
    <meta property="og:image" content="https://s3.amazonaws.com/files.harrells.com/www/events_1200x230.jpg" />
    <meta property="fb:app_id" content="718892904808055" />*@

@*<meta property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="When Great Minds Don’t Think Alike" />
    <meta property="og:description" content="How much does culture influence creative thinking?" />
    <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />*@
@*this is being ignored*@
@*</head>*@



<div id="addToAnyContainer" class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://harrellssharingtest.azurewebsites.net" data-a2a-title="From data-a2a-title property">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>